<app-navbar-company></app-navbar-company>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow">
        
        <br><br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card shadow">
        <img class="card-img-top imgpro" src="../../../../assets/images/ahmedSalah.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title titilename">modern</h4>

        </div>
      </div>
      <div class="card shadow">

        <div class="card-body">

          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

        </div>
      </div>
      <div class="card shadow">

        <div class="card-body">

          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

        </div>
      </div>


    </div>

    <div class="col-sm-6">
      <div class="card shadow" *ngFor="let job of jobs">
        <div class="card-body">
          <h4 class="card-title">{{job. title}}</h4>
          <p class="card-text">{{job.desc}} </p>
          <div class="button">
            <button type="button"class="btn btn-outline-danger" (click)="onSelect(job)">See More</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-body shadow" *ngFor="let event of enventstocomany">
        <h3>
          {{event.titel}}
        </h3>
        <p class="card-text"> {{event.obj}}</p>

      </div>
    </div>

  </div>

  <app-footer></app-footer>
