
 <div class="container mx-auto" style="margin-top:100px;">
  <h1> Add Events</h1>
    <form  #eventForm="ngForm" novalidate  (ngSubmit)="onSubmit()"  method="POST"  >
        
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Event Title:</label>
              <input type="text" class="form-control"  name="title" required [class.is-invalid]="title.invalid &&title.touched"
              #title="ngModel" [(ngModel)]="eventModel.title" >
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Event Date</label>
              <input  class="form-control" type="date" id="date"  name="date" #date="ngModel" [(ngModel)]="eventModel.date" >
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Event Image</label>
              <input  class="form-control" type="text" id="img"  name="img" #img="ngModel" [(ngModel)]="eventModel.img">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Details</label>
              <textarea class="form-control" type="text" name="details"  required [class.is-invalid]="detai.invalid &&detai.touched"
              #detai="ngModel" [(ngModel)]="eventModel.details" rows="5"></textarea>
            </div>
            <button type="submit" name="action"  class="btn btn-success">Submit</button>
          </form>
    </form>
 </div>



