<div class="">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">JOB:</h5>
                  <hr>
                  
                  <span class="card-text">
                      <div><h5>Company Name:
                    </h5>aya </div>
                  </span>
                  

                  <h5 class="card-text">Company Place :</h5>
                  <span class="card-text">
                    <h5> Date:
                  </h5>
                </span>
                <span class="card-text">
                  <h5> member:
                  </h5>
                </span>
                <hr>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    POST
                  
                  </button>
                </div>
              </div>
        </div>

    </div>

</div>