
 <!---->
 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-4	">
      <a class="navbar-brand" routerLink="/student-home/{{ID}}" >ITIan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLink="/student-home/{{ID}}" ><a  class="nav-link">Home</a></li>
          <li class="nav-item " routerLink="/list-jobs/{{ID}}" (click)="listJobs()"><a  class="nav-link">My Jobs  </a></li>
          <li class="nav-item " routerLink="/saved-job/{{ID}}" (click)="listJobs()"><a  class="nav-link">Saved Jobs  </a></li>
         
         </ul>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="http://localhost:3000//{{student.image}}" width="40" height="40" class="rounded-circle">
              <a style="    margin-left: 8px;">{{student.name}}</a>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/message/{{ID}}"><i class="fa fa-envelope"></i>messages</a>
              <a class="dropdown-item" routerLink="/student-profile/{{ID}}"><i class="fa fa-envelope"></i>profile</a>
              <a class="dropdown-item" routerLink="/edit-student-profile/{{ID}}"  (click)="editProfile()" ><i class="fa fa-gear"></i>Edit Profile</a>
              <a class="dropdown-item" (click)="logOut()" > <i class="fa fa-circle-logout"></i>Log Out</a>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </nav>






<!-- 
<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm" style="border-radius: 0px">
    <a class="navbar-brand" routerLink="/student-home/{{ID}}" (click)="studentHome()" style="padding: 0px 15px;">
      <img  src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
      <br>
      BootstrapBay
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-4">
        <ul class="navbar-nav" style="float:left; margin-top: 15px;">
            <li class="nav-item active" style="padding-right: 32px;">
                <a class="nav-link" routerLink="/student-home/{{ID}}" > Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/list-jobs/{{ID}}" (click)="listJobs()"> My jobs</a>
            </li>
           </ul>
         
      <ul class="navbar-nav ml-auto" style="  float: right;">
        <ul class="navbar-nav" style="float:left; margin-top: 15px;">
            <li><a class="nav-link" href="#" style="    margin-right: 26px;margin-top: 2px;"><i class="fa fa-envelope"></i>Message</a></li>
           </ul>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    margin-right: 64px;margin-top: 8px;">
            <img src="http://localhost:3000//{{student.image}}" width="40" height="40" class="rounded-circle">
            <a style="    margin-left: 8px;">{{student.name}}</a>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/student-profile/{{ID}}"><i class="fa fa-envelope"></i>profile</a>
            <a class="dropdown-item" routerLink="/edit-student-profile/{{ID}}"  (click)="editProfile()" ><i class="fa fa-gear"></i>Edit Profile</a>
            <a class="dropdown-item"(click)="logOut()" > <i class="fa fa-circle-logout"></i>Log Out</a>
          </div>
        </li> 
         
      </ul>
    </div>
  </nav> -->
