<nav class="nav" style="z-index: 10000;">
    
    <div class="container">
        <div class="logo">
            <a href="#" style="    font-family: monospace;
            color: red;
            font-size: -webkit-xxx-large" >ITILINK</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<div style="height: 1000px">
    
<!-- about -->
<section class="jumbotron text-center">
    <div class="container">
      <h3>ENABLING THE COMMUNITY</h3>
      <p class="lead text-muted">
        The ITI-Community collaboration works to empower and enable the community with its dynamic sectors with the latest ICT tools and trends, by innovative solutions for the country’s critical issues addressing a real need and challenge. All besides; raising the awareness about how Technology can enable the world's citizens to live a better life and facilitate their day-to-day life activities.
       <br>
        ITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health, Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate - Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then ideate & innovate by developing innovative solutions reflecting throughout prominent ICT applications and tools aiming to serve in conquering the proposed challenges, while creating a real impact by utilizing their ICT knowledge in serving a developmental cause.
      </p>
      <p>
       
       
      </p>
    </div>
  </section>
<!-- slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <!-- <li data-target="#myCarousel" data-slide-to="1" class=""></li> -->
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" style="height: 40p0x;">
      <div class="carousel-item active" style="height: 350px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuwVTttjzpZWNrkMRlsZQwoD7V33pBhgeOlY6XlrcZRMLIZq7m" style="width: 100%;">
        <div class="container" style="height: 200px;">
          <div class="carousel-caption text-left">
            <h1 style="color: #bb2c2c;">Dr. Heba Saleh</h1>
            <p style=" color: #676161;">Heba Saleh has more than 20 years of experience in the field of Human Capacity Building and Development (HCBD). She is currently the Chairwoman of the Information Technology Institute (ITI), the premium-training arm of the Ministry of Communications and Information Technology (MCIT) of Egypt. ITI is a regionally and internationally renowned HCBD institute established in 1993 with the objective of supporting the growth of the ICT sector in Egypt through the provision of qualified human resources to participate effectively in the information society as well as the creation of the necessary linkages between the ICT industry and Egyptian academia to cope with the global technology trends.</p>
            <br><br>
         
               
          </div>
        </div>
      </div>
      
      <div class="carousel-item" style="height: 350px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuwVTttjzpZWNrkMRlsZQwoD7V33pBhgeOlY6XlrcZRMLIZq7m" style="width: 100%; ">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 style="color: #bb2c2c;">Eng. Ahmed Salah</h1>
            <p style=" color: #676161;">17 years of working experience in the fields of information technology & capability building including coaching, training management & people management plus an accumulative experience in managing end-to-end business applications across owning requirements, systems analysis & design, database design & development, .NET programming, web development and business flow automation through several projects for my organizations, various small to medium software companies and myself. Gained experience in professional development & resources management including training & development, recruitment & staffing, resources forecast, allocation & utilization management and performance tracking. Acquired academic knowledge and have great potential in the fields of marketing, engagement management and business development.</p>
            <br><br>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  
<br>
<br>
<br>
<br>
  <!-- services  section -->
<div class="container">

    <div class="row" style="z-index: 1;">
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> Graphic design </h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                is the process of visual communication and problem-solving through the use of typography, photography, and illustration. The field is considered a subset of visual communication and communication design,
                but sometimes the term "graphic design" is used synonymously.
              </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> web design </h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                encompasses many different skills and disciplines in the production and maintenance of websites. 
                The different areas of web design include web graphic design; interface design; authoring,
                 including standardised code and proprietary software;
                 user experience design; and search engine optimization 
              </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> mobile application</h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                also referred to as a mobile app or simply an app, is a computer program or software application designed to
                run on a mobile device such as a phone, tablet, or watch.
                Apps were originally intended for productivity assistance such as email, calendar, and contact databases, 
                but the public demand for apps caused rapid expansion into other areas such as mobile games, 
                factory automation, GPS and location-based services, order-tracking, and ticket purchases,
                so that there are now millions of apps available
              </p>

            </div>
        </div>
    </div>

</div>


    <div class="cover">
        <div class="container contact-form">
            <h1>Contact Form</h1>
            <hr>
            <div class="row">
         <div class="col-md-6">
                <address>Qena -south Value</address><br>
                <p>E-mail : iti@info.com</p>
                <p>phone:+20111374294</p>
         </div>
         <div class="col-md-6">
             <div class="form-group" style="z-index: 1;">
                 <label>Name</label>
                 <input type="text" name="" class="form-control">
             </div>   
             <div class="form-group">
                 <label>E-mail</label>
                 <input type="text" name="" class="form-control">
             </div> 
             <div class="form-group">
                 <label>Massege</label>
                 <textarea name="" id="" cols="0" rows="5" class="form-control"></textarea>
             </div> <br>
             <div class="form-group">
               <button class="btn btn-primary btn-block">Send</button>
             </div> <br><br>
         </div>
         </div>
        </div>
          </div>



          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
            <div class="row">
              <div class="col-6 col-md">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="192" height="226" id="gmap_canvas" src="https://maps.google.com/maps?q=iti%20qena&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    </div>
        
                <!-- <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2017-2019</small> -->
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
        </div>
          </footer>
</div>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

