<app-header></app-header>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>Introspect: <span>Welcome to Egypt's hub for<br>
             talented independent professionals!
        </span></h1>
        <!-- <ul class="actions">
            <li><a href="#" class="button alt">Get Started</a></li>
        </ul> -->
    </div>
</section>

<!-- One -->
<section id="one">
    <div class="inner">
        <header>
            <h2>ENABLING THE COMMUNITY</h2>
        </header>
        <p>The ITI-Community collaboration works to empower and enable the community with its dynamic sectors with the latest ICT tools and trends, by innovative solutions for the country’s critical issues addressing a real need and challenge. All besides; raising the awareness about how Technology can enable the world's citizens to live a better life and facilitate their day-to-day life activities.
        </p>
        <p>
            ITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health, Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate - Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then ideate & innovate by developing innovative solutions reflecting throughout prominent ICT applications and tools aiming to serve in conquering the proposed challenges, while creating a real impact by utilizing their ICT knowledge in serving a developmental cause.</p>
        <!-- <ul class="actions">
            <li><a href="#" class="button alt">Learn More</a></li>
        </ul> -->
    </div>
</section>

<!-- Two -->


<section id="two">
    
    <div class="inner">
     
        <article>
            
            <div class="content">
               <header>
                <b>Eng. Ahmed Salah</b>

               </header>
                <div class="image fit">
                    <img src="../../../assets/images/ahmedSalah.jpg" alt="" />
                    <br>
                    <strong>Information Technology Institute Chairwoman Qena Branch
                    </strong>
                </div>
                <hr>
<p class="qoutes"> 17 years of working experience in the fields of information technology & capability building including coaching, training management & people management plus an accumulative experience in managing end-to-end business applications across owning requirements, systems analysis & design, database design & development, .NET programming, web development and business flow automation through several projects for my organizations, various small to medium software companies and myself.
    Gained experience in professional development & resources management including training & development, recruitment & staffing, resources forecast, allocation & utilization management and performance tracking.
    Acquired academic knowledge and have great potential in the fields of marketing, engagement management and business development.
   </p>            </div>
        </article>
        <article class="alt">
            <div class="content">
           <header>
            <b>Dr. Heba Saleh </b>

           </header>
                <div class="image fit">
                    <img src="../../../assets/images/heba.jpg" alt="" />
                    <br>
                    <strong>Information Technology Institute Chairwoman
                    </strong>

                </div>
                <hr>
<p class="qoutes"> Heba Saleh has more than 20 years of experience in the field of Human Capacity Building and Development (HCBD). She is currently the Chairwoman of the Information Technology Institute (ITI), the premium-training arm of the Ministry of Communications and Information Technology (MCIT) of Egypt. ITI is a regionally and internationally renowned HCBD institute established in 1993 with the objective of supporting the growth of the ICT sector in Egypt through the provision of qualified human resources to participate effectively in the information society as well as the creation of the necessary linkages between the ICT industry and Egyptian academia to cope with the global technology trends. </p>
 </div>
        </article>
    </div>
</section>

<!-- Three -->
<section id="three">
    <div class="inner">
        <article>
            <div class="content">
                <!-- <span ><i class="material-icons">camera_enhance</i></span> -->
                <header>
                    <h3>Graphic design</h3>
                </header>
                <p>is the process of visual communication and problem-solving through the use of typography, photography, and illustration. The field is considered a subset of visual communication and communication design,
                     but sometimes the term "graphic design" is used synonymously. </p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul> -->
            </div>
        </article>
        <article>
            <div class="content">
                <!-- <span ><i class="material-icons">android</i></span> -->
                <header>
                    <h3>mobile application</h3>
                </header>
                <p>also referred to as a mobile app or simply an app, is a computer program or software application designed to
                     run on a mobile device such as a phone, tablet, or watch.
                     Apps were originally intended for productivity assistance such as email, calendar, and contact databases, 
                     but the public demand for apps caused rapid expansion into other areas such as mobile games, 
                     factory automation, GPS and location-based services, order-tracking, and ticket purchases,
                     so that there are now millions of apps available</p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul> -->
            </div>
        </article>
        <article>
        <div class="content">
            <!-- <span ><i class="material-icons">web</i></span> -->
                <header>
                    <h3>Web design </h3>
                </header>
                <p>encompasses many different skills and disciplines in the production and maintenance of websites. 
                    The different areas of web design include web graphic design; interface design; authoring,
                     including standardised code and proprietary software;
                     user experience design; and search engine optimization </p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul> -->
            </div>
        </article>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="inner">
        <header>
            <h2>Get in Touch</h2>
        </header>
        <form method="post" action="#">
            <div class="field half first">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="alt" /></li>
            </ul>
        </form>
        <div class="copyright">
            &copy; ITI QENA 2020 
        </div>
    </div>
</section>


