<app-header></app-header>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>




<!-- qoutes ended -->


<br><br><br><br>
<!-- services  section -->
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> Graphic design </h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                is the process of visual communication and problem-solving through the use of typography, photography, and illustration. The field is considered a subset of visual communication and communication design,
                but sometimes the term "graphic design" is used synonymously.
              </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> web design </h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                encompasses many different skills and disciplines in the production and maintenance of websites. 
                The different areas of web design include web graphic design; interface design; authoring,
                 including standardised code and proprietary software;
                 user experience design; and search engine optimization 
              </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="servicebox">
                <div class="service-icon">
                    <h3 class="title" style="color: #e06538;
                    text-transform: capitalize;
                    font-family: unset;
                    font-size: x-large;"> mobile application</h3>
                    <i class="fa fa-globe"></i>
                </div>

              <p class="description" style="    font-family: cursive;
              font-size: large;">
                also referred to as a mobile app or simply an app, is a computer program or software application designed to
                run on a mobile device such as a phone, tablet, or watch.
                Apps were originally intended for productivity assistance such as email, calendar, and contact databases, 
                but the public demand for apps caused rapid expansion into other areas such as mobile games, 
                factory automation, GPS and location-based services, order-tracking, and ticket purchases,
                so that there are now millions of apps available
              </p>

            </div>
        </div>
    </div>

</div>

<!-- get in touch section -->
<div class="cover">
    <div class="container contact-form">
        <h1>Contact Form</h1>
        <hr>
        <div class="row">
     <div class="col-md-6">
            <address>Qena -ma3ana -south Value</address><br>
            <p>E-mail : test@mail.com</p>
            <p>phone:5228852848</p>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label>Name</label>
             <input type="text" name="" class="form-control">
         </div>   
         <div class="form-group">
             <label>E-mail</label>
             <input type="text" name="" class="form-control">
         </div> 
         <div class="form-group">
             <label>Massege</label>
             <textarea name="" id="" cols="0" rows="5" class="form-control"></textarea>
         </div> <br>
         <div class="form-group">
           <button class="btn btn-primary btn-block">Send</button>
         </div> <br><br>
     </div>
     </div>
    </div>
      </div>

<!-- get in touch section -->
<!-- footer section -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="192" height="226" id="gmap_canvas" src="https://maps.google.com/maps?q=iti%20qena&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            </div>

        <!-- <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2019</small> -->
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</div>
  </footer>
