<app-navbar></app-navbar>
<br><br>
<br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">JOB DETAILS</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card shadow">
          <img class="card-img-top imgpro" src="../../../assets/images/Prof.Dr.JurgenGausemeier.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title titilename">John Doe</h4>
          </div>
        </div>
        <div class="card shadow">
  
          <div class="card-body">
  
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
  
          </div>
        </div>
        <div class="card shadow">
  
          <div class="card-body">
  
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
  
          </div>
        </div>
  
  
      </div>
  
      <div class="col-sm-9">
        <div class="container mt-3">
            <div class="media border p-3">
              <div class="media-body">
                <h4>Company Name </h4> 
                <small><i>Posted on February 19, 2016</i></small>
                 <div>
                    <span  class="badge badge-danger">
                        Applied <span class="badge badge-light">7</span>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="badge badge-danger">JOB TITLE :</span>
                </div>
                <div>
                    <span class="badge badge-light">Salary:</span>
                </div>
                <div>
                    <span class="badge badge-light">Location :</span>
                </div>
                <div>
                    <span class="badge badge-light">Job Type :</span>
                </div>
                <div>
                    <span class="badge badge-light">Languages :</span>
                </div>
                <div>
                    <span class="badge badge-light">Experinces :</span>
                </div>
                <div>
                    <span class="badge badge-dark">Descreption</span>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo sint ex perferendis hic quidem, necessitatibus ipsa praesentium impedit pariatur mollitia, harum nemo consectetur illo, repellendus autem sit error blanditiis cupiditate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia provident et accusamus quia eaque reprehenderit, sed obcaecati voluptates, iure molestias quae consequuntur fuga? Quasi velit consectetur quis, deleniti deserunt quo.</p>      
                </div>
                <hr>
                <strong class="text-danger" [class.d-none]="test">You Already Applied to the Job</strong>

                <div class="button">
                    <button type="button" class="btn btn-outline-danger" (click)="applytoJob()">apply to job</button>
                  </div>    
              </div>
            <br>
              <img src="../../../assets/images/Prof.Dr.JurgenGausemeier.png" alt="John Doe" class="ml-3 mt-3 rounded-circle" style="width:60px;">
              
            </div>
            
          </div>
          
      </div>
      
    </div>
    <br>
    <br>
    <app-footer></app-footer>

