    
<div class="container mx-auto" style="margin-top:100px;">
  <div class="form">
    <h1> Add Users</h1>
    <form #userForm="ngForm" method="POST" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group row">
          <div class="input-field col s12">
              <input id="User_name" type="text" class="validate" class="form-control" [class.is-invalid]="Username.invalid && Username.touched" #Username="ngModel" required
              [(ngModel)]="userModel.userName" name="userName">
              <label for="user_name">User Name</label>
            </div>
      </div>
      <div class="form-group row">
        <div class="input-field col s12">
            <input id="type" type="text" class="validate"  class="form-control" [class.is-invalid]="type.invalid && type.touched"
            #type="ngModel" required [(ngModel)]="userModel.typeName" name="typeName">
            <label for="first_name">Type</label>
          </div>
    </div>
      <div class="form-group row">
          <div class="input-field col s12">
              <input id="email" type="email" class="validate"  class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
              required [(ngModel)]="userModel.mail" name="mail">
              <label for="email">Email</label>
            </div>
       
      </div>
      <div class="form-group row">
          <div class="input-field col s12">
              <input id="password" type="password" class="validate" class="form-control" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required
              [(ngModel)]="userModel.password" name="password">
              <label for="password">Password</label>
            </div>
      </div>
      <div class="row">
        <button class="btn f44336 red-effect f44336 red  " type="submit" name="action" [disabled]="userForm.form.invalid || topicHasErr">Submit
          <i class="material-icons right">send</i>
      </button>
        </div>    
    </form>
  </div>
</div>

