
<app-navbar></app-navbar>
<div class="container-fluid">
        <div class="row">
          <br>
          <br>
          <br>
          <br>
           <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">FIND JOB</div>
              </div> 
           </div>
        </div>
        <div class="row">
           <div class="col-sm-3">
            <div class="card shadow" >
               <img class="card-img-top imgpro" src="http://localhost:3000//{{prostudent.image}}" alt="Card image" >
               <div class="card-body">
                 <h4 class="card-title titilename">{{prostudent.name}}</h4>
              
               </div>
             </div>
             <div class="card shadow" >
            
               <div class="card-body">
                 
                 <p class="card-text">{{prostudent.title}}</p>
            
               </div>
             </div>
             <div class="card shadow" >
              
               <div class="card-body">
                
                 <p class="card-text">{{prostudent.Bio}}</p>
                
               </div>
             </div>


           </div>
         
             <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
            </div>
               <div class="card shadow" *ngFor="let job of jobs?.slice()?.reverse() | filter:term | paginate: { itemsPerPage: 5, currentPage: p }" >
                  <img class="card-img-top imgcom" src="../../../../assets/images/ITI.png" alt="Card image" >
                  <div class="card-body">
                    <h4 class="card-title">{{job.title }}</h4>
                    <p class="card-text">{{job.desc}} </p>
                    <div class="button">
                     <button type="submit" class="btn btn-outline-danger"  (click)="goDetails(job)">Job Details</button>
                    </div>
                   
                  </div>
                </div>
           
             </div>
             
             <div>
               
             </div>
             <div class="col-sm-3" >
                <h5 style="margin-left: 15px; color:purple;">UpComing Events</h5>
               <div class="card-body shadow" *ngFor="let event of envents">
                 
                <h3>
                  {{event.titel}}
                </h3>
                <p class="card-text" style="font-weight: bold;"> {{event.title}}</p>
                <p class="card-text"> {{event.place}}</p>
                <p class="card-text" style="color: plum;"> {{event.date}}</p>
        
                </div>
             </div>
         
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
       </div>
      <app-footer></app-footer>
